__pycache__/constants.cpython-310.pyc
__pycache__/enemy_logic.cpython-310.pyc
__pycache__/frame_renderer.cpython-310.pyc
__pycache__/maze_generator.cpython-310.pyc
__pycache__/player_movement.check_collision-33.py310.1.nbc
__pycache__/player_movement.check_collision-33.py310.nbi
__pycache__/player_movement.cpython-310.pyc
__pycache__/sprites.cpython-310.pyc
